[worldserver]

###################################################################################################
#	Announce if a world boss killed by someone
###################################################################################################

# Enable the module? (1: true | 0: false)

DefaultSpec.Enable = 1