[submodule "src/LuaEngine"]
	path = src/server/game/LuaEngine
	url = https://github.com/Declipe/Eluna.git
[submodule "sql/base/worlddb"]
	path = sql/base/worlddb
	url = https://github.com/Declipe/worlddb.git
	branch = main
[submodule "sql/base/zyndb"]
	path = sql/base/zyndb
	url = https://github.com/Declipe/zyndb.git
	branch = main
