[worldserver]

###################################################################################################
# AUTO LEARN SPELL SYSTEM
#
#   AutoLearn.Enable
#        Description: Enabe/Disable Autolearn System.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.Enable = 1

#   AutoLearn.Check.Level
#        Description: Enabe/Disable Check Level For Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.Check.Level = 1

#   AutoLearn.Spell.Class
#        Description: Enabe/Disable Learn Class Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.SpellClass = 1

#   AutoLearn.Spell.Riding
#        Description: Enabe/Disable Learn Riding Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.SpellRiding = 1

#   AutoLearn.Spell.Mount
#        Description: Enabe/Disable Learn Mount Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.SpellMount = 1

#   AutoLearn.Spell.Weapon
#        Description: Enabe/Disable Learn Weapon Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.SpellWeapon = 1

#   AutoLearn.Spell.Profession
#        Description: Enabe/Disable Learn Profession Spells.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.SpellProfession = 1

#   AutoLearn.DualSpec
#        Description: Enabe/Disable Learn Dual Spec.
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.DualSpec = 1

#   AutoLearn.Login.Spell
#        Description: Check spells on login
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.Login.Spell = 1

#   AutoLearn.Login.Skill
#        Description: Check skills on login
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

AutoLearn.Login.Skill = 1

AutoLearn.Create.Spell = 0
AutoLearn.Create.Skill = 0
###################################################################################################
